body{
    margin-left: 3rem;
    margin-right: 3rem;
    font-family: 'Roboto', sans-serif;
}
h1{
    text-align: center;
}

img{
    width: 15vw;
}
div{
    text-align: center;
}

button{
    background-color: red;
    border: none;
    color: white;
    cursor: pointer;
    padding: 12px 30px;
    border-radius: 5px;
    text-align: center;
    width: 60vw;
}

button:hover{
    background-color: #bb0000;
}